<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Camper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container" style="margin-bottom: 1em;">
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm text-sm-center nav-link" href="/">Camper</a>
        <a class="flex-sm text-sm-center nav-link" href="/campgrounds">Campgrounds</a>
        <a class="flex-sm text-sm-center nav-link" href="#">Login</a>
        <a class="flex-sm text-sm-center nav-link" href="#">Sign-Up</a>
      </nav>
    </div>
