<% include ../partials/header %>

<div class="container" style="width: 50%;">

<h1 style="margin-bottom: 1rem;">Comment on <%= campground.name %> </h1>

<form action="/campgrounds/<%= campground._id %>/comments" method="post">
  <div class="form-group row">
    <label for="comment" class="col-sm-2 col-form-label">Comment</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="comment" name="comment[text]" placeholder="Comment">
    </div>
  </div>
  <div class="form-group row">
    <label for="author" class="col-sm-2 col-form-label">Author </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author" name="comment[author]" placeholder="Author">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="submit" class="btn btn-dark">
    </div>
  </div>
  <a href="/campgrounds/<%= campground._id %>" class="btn btn-light btn-sm">Go Back</a>
</form>

<% include ../partials/footer%>
</div>
